<ion-view view-title="Fan×Fund">
	<ion-header-bar class="home-header bar-positive" align-title="left">
		<h1 class="title">
			Fan×Fund
		</h1>
		<div class="buttons">
			<button class="button">
				<i class="icon ion-search">
				</i>
			</button>
		</div>
	</ion-header-bar>
	<ion-content class="home-content" scroll="false">
		<div class="sub-header-area">
			<label>
				あなたにおすすめ
			</label>
			<ion-scroll zooming="true" direction="x" scrollbar-x="false">
				<img class="program-image" src="img/matuko.jpg">
				<img class="program-image" src="img/ousama.png">
				<img class="program-image" src="img/sekai.jpg">
				<img class="program-image" src="img/suiyoubi.png">
				<img class="program-image" src="img/sekai.jpg">	<img class="program-image" src="img/sekai.jpg">
			</ion-scroll>
		</div>
		<ion-scroll direction="y">
		<div class="home-row row">
			<div class="col">
				<div class="card">
					<span class="program-image" style="background-image: url('img/matuko.jpg');"></span>
					<h4>
						王様のブランチ
					</h4>
					<div class="program-content">
						正式名称は「究極のサバイバル
						アタックSASUKE」。1997年
						秋に初めて放送され、2016年
						7月の時点で32回開催されて
						いる。元々はTBS『筋肉番付』
						のスペシャル企画としてスタート
						し、同番組の終了以降、2002年
						秋の第10回から独立番組となる。
						応募者に対してはオーディション
						や予選会などを行い、それらを
						通過して選抜された者だけが
						出場できる。毎回2000通以上
						の応募がある。
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<span class="program-image" style="background-image: url('img/matuko.jpg');"></span>
					<h4>
						王様のブランチ
					</h4>
				</div>
			</div>
		</div>
		</ion-scroll>
	</ion-content>
</ion-view>