<ion-view view-title="Fan×Fund">
	<ion-header-bar class="home-header bar-positive" align-title="left">
		<h1 class="title">
			Fan×Fund
		</h1>
		<div class="buttons">
			<button class="button">
				<i class="icon ion-search">
				</i>
			</button>
		</div>
	</ion-header-bar>
	<ion-content class="home-content" scroll="false">
		<div class="sub-header-area">
			<label>
				<img src="img/bell.png">あなたにおすすめ
			</label>
			<ion-scroll zooming="true" direction="x" scrollbar-x="false">
				<img class="program-image" src="img/matuko.jpg">
				<img class="program-image" src="img/ousama.png" on-tap="goToTimeline(1)">
				<img class="program-image" src="img/sekai.jpg">
				<img class="program-image" src="img/suiyoubi.png">
				<img class="program-image" src="img/sekai.jpg">
				<img class="program-image" src="img/sekai.jpg">
			</ion-scroll>
		</div>
		<ion-scroll direction="y">
		<div class="home-row row">
			<div class="col">
				<div class="card" ng-repeat="program in programs" ng-if="$index % 2 == 0">
					<span class="program-image-area">
						<img class="program-image" src="img/matuko.jpg">
					</span>
					<h4>
						{{program.name}}
					</h4>
					<div class="program-content">
						{{program.program_info}}
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" ng-repeat="program in programs" ng-if="$index % 2 == 1">
					<span class="program-image-area">
						<img class="program-image" src="img/suiyoubi.png">
					</span>
					<h4>
						{{program.name}}
					</h4>
					<div class="program-content">
						{{program.program_info}}
					</div>
				</div>
			</div>
		</div>
		</ion-scroll>
	</ion-content>
</ion-view>