<div class="graph-card card">
	<nvd3 options="options" data="data"></nvd3>
	<div class="cheer-point">
		総応援ポイント
	</div>
	<div class="cheer-point-number">
		{{$ctrl.sum_price}}P
	</div>
	<div class="row">
		<span class="col">
			<div class="header">
				応援ユーザー数
			</div>
			<div class="content">
				{{$ctrl.users}}
			</div>
		</span>
		<span class="col">
			<div class="header">
				現在のチケット価格
			</div>
			<div class="content">
				{{$ctrl.program.now_price}}
			</div>
		</span>
		<span class="col">
			<div class="header">
				総チケット数
			</div>
			<div class="content">
				{{$ctrl.stock}}
			</div>
		</span>
	</div>
	<div class="yellow-title">
		100000Pで、、、
	</div>
	<div class="yellow-point-title">
		特別番組を放送！
	</div>
</div>
<div class="introduce-card card">
	<ion-list>
		<ion-item class="item-thumbnail-left">
			<img ng-src="{{$ctrl.program.image_url}}">
			<div class="program-title">
				{{$ctrl.program.name}}
			</div>
		</ion-item>
		<div class="program-content">
			{{$ctrl.program.name.program_info.description}}
		</div>
		<div class="program-image">
			<img ng-src="{{$ctrl.program.image_url}}">
		</div>
		<ion-item class="item-thumbnail-left dot-thumbnail">
			<img src="img/orange-dot.png">
			<div class="introduce-content-header">
				放送時間
			</div>
			<div class="introduce-content-content">
				毎週土曜日あさ9:30
			</div>
		</ion-item>
		<ion-item class="item-thumbnail-left dot-thumbnail">
			<img src="img/purple-dot.png">
			<div class="introduce-content-header">
				次回の放送
			</div>
			<div class="introduce-content-content">
				<div class="recent-content-date">
					2016/9/17
				</div>
				{{$ctrl.program.program_info.next_description}}
			</div>
		</ion-item>
	</ion-list>
</div>