<div class="graph-card card">
	<nvd3 options="options" data="data"></nvd3>
	<div class="cheer-point">
		総応援ポイント
	</div>
	<div class="cheer-point-number">
		364364810P
	</div>
	<div class="row">
		<span class="col">
			<div class="header">
				応援ユーザー数
			</div>
			<div class="content">
				1000
			</div>
		</span>
		<span class="col">
			<div class="header">
				現在のチケット価格
			</div>
			<div class="content">
				931
			</div>
		</span>
		<span class="col">
			<div class="header">
				総チケット数
			</div>
			<div class="content">
				893
			</div>
		</span>
	</div>
</div>
<div class="introduce-card card">
	<ion-list>
		<ion-item class="item-thumbnail-left">
			<img src="img/ousama.png">
			<div class="program-title">
				王様のブランチ
			</div>
			<div class="cast-list">
				<strong>キャスト</strong>
				谷原章介 新川優愛
			</div>
		</ion-item>
	</ion-list>
	<div class="program-content">
		週末の強い味方！お出かけ情報から、グルメ、映画のランキング、最新エンタメ情報まで！

		毎日土曜朝9:00から『王様のブランチ』
	</div>
	<div class="program-image">
		<img src="">
	</div>
</div>