<div class="privilage-card card">
	<ion-list>
		<ion-item class="item-thumbnail-left">
			<img src="img/ousama.png">
			<div class="privilage-title">
				応援特典
			</div>
		</ion-item>
		<div class="point-title">
			<button class="button button-positive">
				ポイントを貯める
			</button>
		</div>
		<div class="content-title">
			一般特典
		</div>
		<ion-item class="item-thumbnail-right">
			<img src="img/tanihara.png">
			<div class="privilage-content">
				{{$ctrl.program.program_info.privilege_1}}
			</div>
		</ion-item>
		<div class="content-title">
			特別特典
		</div>
		<ion-item class="item-thumbnail-right">
			<img src="img/layer.png">
			<div class="privilage-content">
				{{$ctrl.program.program_info.privilege_2}}
			</div>
		</ion-item>
	</ion-list>
</div>
