<div class="ticket-area">
	<ion-list>
		<ion-item class="item-thumbnail-left">
			<img src="img/ousama.png">
			<div class="cheer-number">
				5000人のユーザーが応援しています
			</div>
			<div class="product-name">
				王様ブランチ応援チケット
			</div>
			<div class="point-price">
				<img class="d-point-icon" src="img/d-point.png">
				320
			</div>
		</ion-item>
		<ion-item class="ticket-count">
			0枚
		</ion-item>
		<ion-item class="option-item" on-tap="changeSlide()">
			 ▼オプション
		</ion-item>
		<ion-item class="animate-slide" ng-if="slide">
		オプション追加用
		</ion-item>
	</ion-list>
	<div class="ticket-action-button">
		<button class="button button-assertive">
			チケットを買う
		</button>
	</div>
	<div class="ticket-action-button">
		<button class="button button-positive">
			チケットを売る
		</button>
	</div>
	<div class="present-data-row">
		<span class="present-data">
			<div class="present-data-header">
				保有チケット数
			</div>
			<div class="score-area ticket-score-area">
				22枚
			</div>
		</span>
		<span class="present-data">
			<div class="present-data-header">
				保有ポイント数
			</div>
			<div class="score-area point-score-area">
				114514P
			</div>
		</span>
	</div>
</div>