<div class="ticket-area">
	<ion-list>
		<ion-item class="item-thumbnail-left">
			<img src="img/ousama.png">
			<div class="cheer-number">
				5000人のユーザーが応援しています
			</div>
			<div class="product-name">
				{{$ctrl.program.name}}応援チケット
			</div>
			<div class="point-price item item-input">
				<img class="d-point-icon" src="img/d-point.png">
				{{$ctrl.program.now_price}}
			</div>
		</ion-item>
		<ion-item class="ticket-count">
			<input type="number" ng-model="number">枚
		</ion-item>
		<ion-item class="ticket-count">
			<input type="number" ng-model="price">P
		</ion-item>
		<ion-item class="option-item" on-tap="changeSlide()">
			▼オプション
		</ion-item>
		<ion-item class="animate-slide" ng-if="slide">
			オプション追加用
		</ion-item>
	</ion-list>
	<div class="ticket-action-button">
		<button class="button button-assertive" on-tap="buyTicket()">
			チケットを買う
		</button>
	</div>
	<div class="ticket-action-button">
		<button class="button button-positive">
			チケットを売る
		</button>
	</div>
	<div class="present-data-row">
		<span class="present-data">
			<div class="present-data-header">
				保有チケット数
			</div>
			<div class="score-area ticket-score-area">
				22
			</div>
		</span>
		<span class="present-data">
			<div class="present-data-header">
				保有ポイント数
			</div>
			<div class="score-area point-score-area">
				114514
			</div>
		</span>
	</div>
</div>