<ion-view view-title="Fan×Fund">
	<ion-content class="timeline-content" scroll="false">
		<div class="timeline-segment-area">
			<ti-segmented-control on-select="buttonClicked($index)">
				<ti-segmented-control-button class="button-positive" title="'チケット'" selected></ti-segmented-control-button>
				<ti-segmented-control-button class="button-positive" title="'チケット特典'"></ti-segmented-control-button>
				<ti-segmented-control-button class="button-positive" title="'番組紹介'"></ti-segmented-control-button>
			</ti-segmented-control>
		</div>
		<ion-scroll direction="y">
		<div class="ticket-content" ng-if="selectedIndex === 0">
			<ticket>
			</ticket>
		</div>
		<div class="program-detail-content" ng-if="selectedIndex === 1">
			<privilage>
			</privilage>
		</div>
		<div class="introduce-content" ng-if="selectedIndex === 2">
			<introduce>
			</introduce>
		</div>
		</ion-scroll>
	</ion-content>
</ion-view>
