.home-header{
	.title{
		font-size: 30px;
	}
	.button{
		border-color: transparent;
		background-color: transparent;
		.ion-search:before{
			font-size: 40px;
		}
	}
}

.home-content{
	background-color: #c3f3ff;

	.sub-header-area{
		background-color: white;
		label{
			img{
				width: 20px;
				margin-right: 5px;
			}
		}
		ion-scroll{
			white-space: nowrap;
			img{
				height: 100px;
			}
		}
	}

	ion-scroll{
		height: calc(100% - 124px);

		.home-row{
			.col{
				.card{
					margin: 10px 0;
					.program-image-area{
						display: inline-block;
						width: 100%;
						img{
							width: 80%;
							margin: 0 auto;
							display: block;
						}
					}
					h4{
						text-align: center;
					}
					.program-content{
						margin: 0 10px;
						word-break: break-all;
					}
				}
			}
		}
	}
}