.graph-card{
	background-color: #FFFAF0;
	.cheer-point{
		color: red;
		font-size: 30px;
		font-weight: bold;
		height: 40px;
		margin-left: 20px;
	}
	.cheer-point-number{
		text-align: center;
		color: red;
		height: 30px;
		font-size: 25px;
	}
	.row{
		.col{
			text-align: center;
			.header{
				font-size: 11px;
			}
			.content{
				font-size: 30px;
			}
		}
	}
	.yellow-title{
		margin-left: 10px;
		text-align: left;
		color: #ffa800;
		font-size: 20px;
		height: 30px;
		font-weight: bold;
	}
	.yellow-point-title{
		text-align: center;
		color: #ffa800;
		font-size: 30px;
		font-weight: bold;
		height: 40px;
	}
}
.introduce-card{
	ion-list{
		ion-item{
			border-color: transparent;

			.program-title{
				font-weight: bold;
				font-size: 30px;
				line-height: normal;
			}
			&.dot-thumbnail{
				padding-left: 66px;
				img{
					max-width: 40px;
					max-height: 40px;
				}
				.introduce-content-header{
					font-size: 20px;
				}
				.introduce-content-content{
					white-space: normal;
					.recent-content-date{
						font-size: 13px;
					}
				}
			}
		}
	}
	.program-content{
		white-space: normal;
		margin: 0 10px;
	}
	.program-image{
		img{
			width: 60%;
			height: 60%;
			margin-left: 20%;
		}
	}
}
