.graph-card{
	background-color: #FFFAF0;
	.cheer-point{
		color: red;
		font-size: 30px;
		font-weight: bold;
		height: 40px;
		margin-left: 20px;
	}
	.cheer-point-number{
		text-align: center;
		color: red;
		height: 30px;
		font-size: 25px;
	}
	.row{
		.col{
			text-align: center;
			.header{
				font-size: 11px;
			}
			.content{
				font-size: 30px;
			}
		}
	}
}
.introduce-card{
	ion-list{
		ion-item{
			.program-title{
				font-weight: bold;
				font-size: 30px;
				line-height: normal;
			}
		}
	}
	.program-content{
		white-space: normal;
		margin: 0 10px;
	}
}
