.ticket-area{
	ion-item{
		border-color: transparent;
	}
	.item-thumbnail-left{
		.cheer-number{
			color: red;
			white-space: normal;
		}
		.point-price{
			.d-point-icon{
				width: 40px;
			}
			border: transparent;
			height: 50px;
			font-size: 40px;
			text-align: left;
			line-height: 45px;
			input{
				font-size: 30px;
			}
		}

	}
	.ticket-count{
		font-size: 20px;
		text-align: right;
		input{
			font-size: 30px;
			width: 200px;
			text-align: center;
			display: inline;
		}
	}
	.option-item{
		background-color: #6e6e6e;
		color: white;
		text-align: center;
		font-size: 20px;
	}
	.ticket-action-button{
		width: 100%;
		margin: 15px 0;
		.button-assertive{
			background-color: #ffa800;
		}
		.button{
			font-size: 25px;
			width: 80%;
			margin: 0 10%;
		}
	}
	.present-data-row{
		margin: 0 10%;
		.present-data{
			display: inline-block;
			width: 49%;
			background-repeat: no-repeat;
			background-size: auto 110%;
			background-image: url("../img/bluewhitebox.png");

			.present-data-header{
				background-color: transparent;
				text-align: center;
				height: 30px;
				line-height: 40px;
			}
			.score-area{
				color: white;
				font-size: 30px;
				text-align: center;
				height: 50px;
				line-height: 55px;
				background-color: transparent;
				&.ticket-score-area{
					left: 0;
				}
				&.point-score-area{
					left: 50%;
				}
			}
		}
	}
}

.animate-slide {
  &.ng-enter,
  &.ng-leave {
    transition: all 0.5s linear;
  }
  
  &.ng-enter {
    max-height: 0;
  }
  
  &.ng-enter.ng-enter-active,
  &.ng-leave {
    max-height: 500px;
  }
  
  &.ng-leave.ng-leave-active {
    max-height: 0;
  }
}