.ticket-area{
	
	ion-item{
		border-color: transparent;
	}
	.item-thumbnail-left{
		.cheer-number{
			color: red;
			white-space: normal;
		}
		.point-price{
			.d-point-icon{
				width: 40px;
			}
			height: 50px;
			font-size: 50px;
			text-align: left;
			line-height: 45px;
		}

	}
	.ticket-count{
		font-size: 30px;
		text-align: center;
	}
	.ticket-action-button{
		width: 100%;
		margin: 15px 0;
		.button{
			font-size: 25px;
			width: 80%;
			margin: 0 10%;
		}
	}
	.present-data-row{
		margin: 0 10%;
		.present-data{
			display: inline-block;
			width: 49%;
			background-repeat: no-repeat;
			background-size: auto 110%;
			background-image: url("../img/bluewhitebox.png");

			.present-data-header{
				background-color: transparent;
				text-align: center;
				height: 30px;
				line-height: 40px;
			}
			.score-area{
				color: white;
				font-size: 30px;
				text-align: center;
				height: 50px;
				line-height: 55px;
				background-color: transparent;
				&.ticket-score-area{
					left: 0;
				}
				&.point-score-area{
					left: 50%;
				}
			}
		}
	}
}