.timeline-content{
	background-color: #c3f3ff;

	.timeline-segment-area{
		height: 60px;
		display: flex;
		align-items: center;
		background-color: #49c20e;

		.buttons{
			width: 92%;
			margin-left: 4%;
			color: white;

			.button-outline{
				color: white;
				line-height: 39px;
				max-height: 40px;
				min-height: 40px;

				&.active{
					background-color: #007b09;
				}
			}
		}
	}
	ion-scroll{
		height: calc(100% - 60px);
	}
}
